.data-item{
	position: relative;
	display: inline-block;
}
.eye{
	width: 18px;
	height: 11px;
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 6px;
}
.open-eye{
	background:url(./login-test.png) no-repeat -49px -8px;
}

.close-eye{
	background:url(./login-test.png) no-repeat -86px -8px;
}

